body {
    background: black;
    color: white;
    margin: 0;
}

.header {
    display:inline-block;
    font-family:'Exo 2', sans-serif;
    font-weight:700;
    font-style:italic;
    font-size:54px;
    margin:3vh 0;
    width:100%;
    text-align:center
}

.last_update {
    font-style:italic;
    text-align:center;
    margin:2vh 0;
}

.column {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.row {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    display: flex;
}

.frame {
    height: 400px;      /* equals max image height */
    width: 400px;
    white-space: nowrap; /* this is required unless you put the helper span closely near the img */
    text-align: center;
    outline: dashed 10px white;
    outline-offset: -4px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

.description {
    width: 400px;
    height: 400px;
    padding: 20px;
    top: 20%;
}

.author {
    text-align: left;
}

.caption {
    text-align: left;
    font-size: 1vw;
}