<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Exo+2:700i" rel="stylesheet">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48642635 = new Ya.Metrika({
                    id:48642635,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48642635" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<!-- /Yandex.Metrika counter -->
<head>
    <meta charset="UTF-8">
    <title>Instagram топ 10</title>
</head>
<body>
    <h1 class="header">phystech.tv/insta</h1>
    <div class="last_update">Последнее обновление в {{last_update}}</div>
    <div class="last_update">Всего МФТИ-шников в конкурсе: {{total_mipt_users}} (есть посты за последнюю неделю) </div>
    <div class="column">
        {% for m in medias %}
            <div class="row">
                <div class="frame"><span class="helper"></span><img class="img" src="{{m.link}}"></div>
                <div class="description">
                    <div class="author"><h2><a href="https://instagram.com/{{m.username}}"> {{m.username}}</a></h2></div>
                    <div class="place">Место: {{m.place}}</div>
                    <div class="likes">Лайки: {{'%0.2f' % m.likes | float}}</div>
                    <div class="likes">Комментарии: {{'%0.2f' % m.comments | float}}</div>
                    <div class="likes">Доля МФТИ-шных подписок: {{'%0.2f' % m.mipt_followers_part | float}}</div>
                    <div class="rating">Итоговый рейтинг: {{'%0.2f' % m.score | float}}</div>
                    <div class="caption">{{m.caption}}</div>

                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
