<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Exo+2:700i" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Instagram топ 10</title>
</head>
<body>
    <h1 class="header">phystech.tv/insta</h1>
    <div class="last_update">Последнее обновление в {{last_update}}</div>
    <div class="container">
        {% for m in medias %}

        <div class="row">
            <div class="photo"><img class="img" src="{{m.link}}"></div>
            <div class="description">
                <div class="author"><h2><a href="https://instagram.com/{{m.username}}"> {{m.username}}</a></h2></div>
                <div class="place">Место: {{m.place}}</div>
                <div class="likes">Лайки: {{'%0.2f' % m.likes | float}}</div>
                <div class="likes">Комментарии: {{'%0.2f' % m.comments | float}}</div>
                <div class="likes">Доля МФТИ-шных подписок: {{'%0.2f' % m.mipt_followers_part | float}}</div>
                <div class="rating">Итоговый рейтинг: {{'%0.2f' % m.score | float}}</div>
                <div class="caption">{{m.caption}}</div>

            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>